{% extends 'base.html' %}

{% block content %}
    <div class="exercises-menu-page">
        <h2>Menu des exercices</h2>
        <div class="exercises-menu-header">
            <p>Découvre un monde super chouette plein de jeux rigolos pour apprendre en s'amusant ! Sur notre site, tu 
                trouveras plein d'exercices trop cool pour booster ta mémoire, comprendre plein de trucs sympas et plus encore. Plonge dans des aventures éducatives faites pour toi, où chaque jeu est une occasion de s'éclater tout en apprenant.
                 Rejoins-nous et ensemble, on va s'amuser à apprendre plein de choses géniales !</p>
            <img src="https://i.imgur.com/zoJDzi8.png" alt="header"/>

        </div>
        <div class="exercises-theme-container">
            {% for theme in exercise_themes %}
                <div class="exercice-theme">
                    <h3>{{ theme.title }}</h3>
                    <p>{{ theme.description }}</p>
                    <a href="{% url theme.view %}" class="exercice-btn">Commencer</a>
                </div>
            {% endfor %}            
        </div>
    </div>

{% endblock %}